/*
  transform: translate(), scale(), rotate(), skew()
*/

div {
  width: 150px;
  height: 150px;
  display: inline-block;
}

.one {
  background: red;
  transform: translateX(50%); /* 50% of its own width 150px*/
}

.two {
  background: blue;
  transform: translateY(-40px);
}

.three {
  background: green;
  transform: translate(200px, 300px);
}
