/*
  DISPLAY PROPERTY

  ELEMENTS HAVE IT SET BY DEFAULT
  BLOCK: Always starts a new line and spans full width
  INLINE: Does not start a new line and spans only content

  HORIZONTAL CENTERING

*/

.block {
  background: blue;
  color: white;
  width: 300px;
  margin: 2rem auto;
}

.inline {
  background: red;
  color: white;
  display: block;
}

body {
  text-align: center;
}
